<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
<th:block layout:fragment="title">
    <title>Home</title>
</th:block>

<th:block layout:fragment="content">
    <div class="card-content">
        <div class="btn_wrap text-center">
            <a th:href="@{/board/list.do}" class="btn btn-primary waves-effect waves-light">게시판 들어가기</a>
        </div>
        <div>
            The time is: <a th:text="*{#temporals.format(time, 'dd/MMM/yyyy HH:mm')}"></a>
        </div>
    </div>
</th:block>
</html>